In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

train=pd.read_csv('Train_Data_ET.csv')

test=pd.read_csv('Test_Data_ET.csv')

train.shape,test.shape

((97616, 32), (41836, 31))

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split,cross_val_score,cross_val_predict
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler
le=LabelEncoder()
ms=MinMaxScaler()
from sklearn import metrics

In [3]:
train.head()

,ID,Age,Recently_upskilled,Region,RemoteWork,PercentSalaryIncrement,OfficeHours,StockOptionLevel,College_Tier,YearsSinceLastPromotion,...,Department,EnvironmentSatisfaction1,EnvironmentSatisfaction2,JobSatisfaction1,JobSatisfaction2,JobInvolvement1,JobInvolvement2,PerformanceRating1,PerformanceRating2,Employeeturnover
0,45298,33,0,Chennai,0,15,9,1,Tier-3,1.0,...,Ops,NaN,3.0,4.0,2.0,2.0,2.0,2.0,3.0,0
1,172630,34,1,Delhi NCR,0,16,7,0,Tier-3,NaN,...,Finance,2.0,3.0,2.0,NaN,3.0,NaN,NaN,NaN,1
2,63754,33,1,Chennai,0,14,7,0,Tier-3,1.0,...,Sales,NaN,2.0,3.0,NaN,3.0,NaN,2.0,2.0,0
3,107105,38,0,Delhi NCR,0,10,7,1,Tier-3,NaN,...,Sales,4.0,4.0,2.0,NaN,NaN,2.0,3.0,NaN,0
4,173095,28,1,Hyderabad,0,16,7,0,Tier-3,0.0,...,Sales,1.0,2.0,4.0,NaN,3.0,NaN,3.0,4.0,1

In [4]:
test.head()

,ID,Age,Recently_upskilled,Region,RemoteWork,PercentSalaryIncrement,OfficeHours,StockOptionLevel,College_Tier,YearsSinceLastPromotion,...,TrainingTimesLastYear,Department,EnvironmentSatisfaction1,EnvironmentSatisfaction2,JobSatisfaction1,JobSatisfaction2,JobInvolvement1,JobInvolvement2,PerformanceRating1,PerformanceRating2
0,142055,43,0,Bangalore,0,13,8,1,NaN,2.0,...,3,HR,4.0,2.0,4.0,4.0,NaN,3.0,4.0,4.0
1,44367,35,0,Hyderabad,0,26,8,2,Tier-1,2.0,...,3,Sales,4.0,3.0,3.0,3.0,4.0,4.0,4.0,3.0
2,124144,29,0,Bangalore,0,23,7,2,Tier-3,0.0,...,2,Sales,4.0,NaN,4.0,3.0,3.0,2.0,4.0,3.0
3,110431,37,0,Bangalore,0,12,8,1,Tier-2,NaN,...,0,HR,4.0,3.0,NaN,NaN,4.0,3.0,4.0,3.0
4,174576,23,0,Delhi NCR,0,23,8,1,Tier-3,1.0,...,2,Sales,4.0,4.0,4.0,2.0,4.0,2.0,3.0,3.0

In [5]:
train.isna().sum()

ID                              0
Age                             0
Recently_upskilled              0
Region                          0
RemoteWork                      0
PercentSalaryIncrement          0
OfficeHours                     0
StockOptionLevel                0
College_Tier                 2906
YearsSinceLastPromotion     16387
HighestEducation                0
BusinessTravel                  0
JobLevel                        0
MaritalStatus                   0
TotalWorkExp                    0
MonthlySalary                   0
yof joining                     0
YearsWithCurrManager            0
DistanceFromHome                0
NumCompaniesWorked           2872
Gender                          0
TrainingTimesLastYear           0
Department                      0
EnvironmentSatisfaction1     7086
EnvironmentSatisfaction2     8507
JobSatisfaction1             7086
JobSatisfaction2             8569
JobInvolvement1              7111
JobInvolvement2              8546
PerformanceRating1           7102
PerformanceRating2           8536
Employeeturnover                0
dtype: int64

In [6]:
test.isna().sum()

ID                             0
Age                            0
Recently_upskilled             0
Region                         0
RemoteWork                     0
PercentSalaryIncrement         0
OfficeHours                    0
StockOptionLevel               0
College_Tier                1297
YearsSinceLastPromotion     7009
HighestEducation               0
BusinessTravel                 0
JobLevel                       0
MaritalStatus                  0
TotalWorkExp                   0
MonthlySalary                  0
yof joining                    0
YearsWithCurrManager           0
DistanceFromHome               0
NumCompaniesWorked          1363
Gender                         0
TrainingTimesLastYear          0
Department                     0
EnvironmentSatisfaction1    2242
EnvironmentSatisfaction2    6129
JobSatisfaction1            2228
JobSatisfaction2            6162
JobInvolvement1             2250
JobInvolvement2             6166
PerformanceRating1          2196
PerformanceRating2          6108
dtype: int64

In [7]:
data=pd.concat([train.drop(['Employeeturnover'],axis=1),test],axis=0).reset_index(drop=True)
data.shape

(139452, 31)

In [8]:
data.isna().sum()

ID                              0
Age                             0
Recently_upskilled              0
Region                          0
RemoteWork                      0
PercentSalaryIncrement          0
OfficeHours                     0
StockOptionLevel                0
College_Tier                 4203
YearsSinceLastPromotion     23396
HighestEducation                0
BusinessTravel                  0
JobLevel                        0
MaritalStatus                   0
TotalWorkExp                    0
MonthlySalary                   0
yof joining                     0
YearsWithCurrManager            0
DistanceFromHome                0
NumCompaniesWorked           4235
Gender                          0
TrainingTimesLastYear           0
Department                      0
EnvironmentSatisfaction1     9328
EnvironmentSatisfaction2    14636
JobSatisfaction1             9314
JobSatisfaction2            14731
JobInvolvement1              9361
JobInvolvement2             14712
PerformanceRating1           9298
PerformanceRating2          14644
dtype: int64

In [9]:
for i in data[['College_Tier', 'YearsSinceLastPromotion','NumCompaniesWorked','EnvironmentSatisfaction1','EnvironmentSatisfaction2', 'JobSatisfaction1', 
                'JobSatisfaction2','JobInvolvement1', 'JobInvolvement2', 'PerformanceRating1','PerformanceRating2']]:
    print('\n\n-----------------------',i,'--------------------------------')
    print(data[i].value_counts()/data.shape[0]*100)

----------------------- College_Tier --------------------------------
Tier-3    66.501018
Tier-2    17.023779
Tier-1    13.461263
Name: College_Tier, dtype: float64


----------------------- YearsSinceLastPromotion --------------------------------
0.0    34.222528
1.0    26.512348
2.0     8.403608
3.0     3.807045
4.0     3.605542
7.0     2.540659
6.0     1.784844
5.0     1.715286
8.0     0.631042
Name: YearsSinceLastPromotion, dtype: float64


----------------------- NumCompaniesWorked --------------------------------
1.0     48.099705
2.0     12.866076
3.0      8.662479
4.0      6.956516
5.0      6.045808
6.0      4.232998
7.0      3.751829
8.0      3.394716
9.0      1.891690
10.0     1.061297
Name: NumCompaniesWorked, dtype: float64


----------------------- EnvironmentSatisfaction1 --------------------------------
3.0    29.176347
4.0    29.038666
2.0    26.472908
1.0     8.623039
Name: EnvironmentSatisfaction1, dtype: float64


----------------------- EnvironmentSatisfaction2 --------------------------------
4.0    29.020021
3.0    28.749677
2.0    26.132289
1.0     5.602645
Name: EnvironmentSatisfaction2, dtype: float64


----------------------- JobSatisfaction1 --------------------------------
3.0    29.762929
4.0    29.527723
2.0    26.744686
1.0     7.285661
Name: JobSatisfaction1, dtype: float64


----------------------- JobSatisfaction2 --------------------------------
3.0    28.872300
4.0    28.644265
2.0    26.100020
1.0     5.819924
Name: JobSatisfaction2, dtype: float64


----------------------- JobInvolvement1 --------------------------------
3.0    30.442733
4.0    30.203224
2.0    24.482976
1.0     8.158363
Name: JobInvolvement1, dtype: float64


----------------------- JobInvolvement2 --------------------------------
4.0    30.021800
3.0    29.736397
2.0    23.783094
1.0     5.908843
Name: JobInvolvement2, dtype: float64


----------------------- PerformanceRating1 --------------------------------
3.0    41.394889
4.0    41.305252
2.0    10.632332
Name: PerformanceRating1, dtype: float64


----------------------- PerformanceRating2 --------------------------------
4.0    39.976479
3.0    39.957118
2.0     9.565298
Name: PerformanceRating2, dtype: float64

#### imputing the categorical features with the median values

In [10]:
for i in data[['College_Tier', 'YearsSinceLastPromotion','NumCompaniesWorked','EnvironmentSatisfaction1',
                'EnvironmentSatisfaction2', 'JobSatisfaction1','JobSatisfaction2','JobInvolvement1', 'JobInvolvement2', 
                'PerformanceRating1','PerformanceRating2']]:
    data[i]=data[i].fillna(data[i].mode()[0])

In [11]:
data.isna().sum()

ID                          0
Age                         0
Recently_upskilled          0
Region                      0
RemoteWork                  0
PercentSalaryIncrement      0
OfficeHours                 0
StockOptionLevel            0
College_Tier                0
YearsSinceLastPromotion     0
HighestEducation            0
BusinessTravel              0
JobLevel                    0
MaritalStatus               0
TotalWorkExp                0
MonthlySalary               0
yof joining                 0
YearsWithCurrManager        0
DistanceFromHome            0
NumCompaniesWorked          0
Gender                      0
TrainingTimesLastYear       0
Department                  0
EnvironmentSatisfaction1    0
EnvironmentSatisfaction2    0
JobSatisfaction1            0
JobSatisfaction2            0
JobInvolvement1             0
JobInvolvement2             0
PerformanceRating1          0
PerformanceRating2          0
dtype: int64

In [12]:
data['yof joining']=2021-data['yof joining']

In [13]:
data['Age'].skew(),np.log(data['Age']).skew(),np.cbrt(data['Age']).skew()

(0.4369710510382229, -0.16383965892830263, 0.04611620165686106)

In [14]:
data['Age']=np.cbrt(data['Age'])

In [15]:
data['PercentSalaryIncrement'].skew(),np.log(data['PercentSalaryIncrement']).skew(),np.cbrt(data['PercentSalaryIncrement']).skew()

(0.7310618347257587, 0.30771366993446053, 0.4473331571480895)

In [16]:
data['PercentSalaryIncrement']=np.log(data['PercentSalaryIncrement'])

In [17]:
data['TotalWorkExp'].skew(),np.sqrt(data['TotalWorkExp']).skew(),np.cbrt(data['TotalWorkExp']).skew()

(1.1863522689364794, 0.1465600223210278, -0.6489561647882522)

In [18]:
data['TotalWorkExp']=np.sqrt(data['TotalWorkExp'])

In [19]:
data['YearsWithCurrManager'].skew(),np.sqrt(data['YearsWithCurrManager']).skew(),np.cbrt(data['YearsWithCurrManager']).skew()

(1.0646719425141782, -0.03268009795874545, -0.5508313080150533)

In [20]:
data['YearsWithCurrManager']=np.sqrt(data['YearsWithCurrManager'])

In [21]:
data['MonthlySalary'].skew(),np.log(data['MonthlySalary']).skew(),np.cbrt(data['MonthlySalary']).skew()

(1.397656935390218, 0.2906969058846043, 0.6901120767280163)

In [22]:
data['MonthlySalary']=np.log(data['MonthlySalary'])

In [23]:
data['yof joining'].skew(),np.log(data['yof joining']).skew(),np.cbrt(data['yof joining']).skew()

(2.0092236811150084, 0.2675441086884925, 0.7828637715849969)

In [24]:
data['yof joining']=np.log(data['yof joining'])

In [25]:
data['DistanceFromHome'].skew(),np.log(data['DistanceFromHome']).skew(),np.cbrt(data['DistanceFromHome']).skew()

(0.9989211990316168, -0.28626230162214356, 0.17107830330611942)

In [26]:
data['DistanceFromHome']=np.cbrt(data['DistanceFromHome'])

In [27]:

data[['Recently_upskilled', 'RemoteWork', 'OfficeHours', 'StockOptionLevel','YearsSinceLastPromotion', 'JobLevel',
      'NumCompaniesWorked', 'Gender','TrainingTimesLastYear','EnvironmentSatisfaction1','EnvironmentSatisfaction2', 
      'JobSatisfaction1', 'JobSatisfaction2','JobInvolvement1', 
      'JobInvolvement2', 'PerformanceRating1','PerformanceRating2']]=data[['Recently_upskilled', 'RemoteWork', 'OfficeHours', 'StockOptionLevel','YearsSinceLastPromotion', 'JobLevel',
      'NumCompaniesWorked', 'Gender','TrainingTimesLastYear','EnvironmentSatisfaction1','EnvironmentSatisfaction2', 
      'JobSatisfaction1', 'JobSatisfaction2','JobInvolvement1', 
      'JobInvolvement2', 'PerformanceRating1','PerformanceRating2']].astype('object')

In [28]:
cat=data.drop(['ID','Age','yof joining',
               'YearsWithCurrManager','MonthlySalary','DistanceFromHome','PercentSalaryIncrement','TotalWorkExp'],axis=1)
cat_d=pd.get_dummies(cat,drop_first=True)

In [29]:
num=data[['Age','yof joining','YearsWithCurrManager','MonthlySalary','DistanceFromHome','PercentSalaryIncrement',
         'TotalWorkExp']]
num_sc=pd.DataFrame(ms.fit_transform(num),columns=num.columns)

In [30]:
new=pd.concat([cat_d,num_sc],axis=1)
new['ID']=data['ID']
new.shape,cat.shape,cat_d.shape,num.shape,num_sc.shape

((139452, 85), (139452, 23), (139452, 77), (139452, 7), (139452, 7))

In [31]:
train.shape

(97616, 32)

In [32]:
new_train=new.iloc[:97616]
new_test=new[97616:]

In [33]:
y=train['Employeeturnover']
X=new_train.drop('ID',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42,stratify=y)

In [34]:
DT=DecisionTreeClassifier()
DT.fit(X_train,y_train)

DecisionTreeClassifier()

In [35]:
pred_test=DT.predict(X_test)
print(metrics.classification_report(y_test,pred_test))

metrics.confusion_matrix(y_test,pred_test)

              precision    recall  f1-score   support

           0       0.93      0.92      0.93      7830
           1       0.70      0.72      0.71      1932

    accuracy                           0.88      9762
   macro avg       0.81      0.82      0.82      9762
weighted avg       0.88      0.88      0.88      9762

array([[7225,  605],
       [ 538, 1394]], dtype=int64)

In [36]:
cvs=cross_val_score(estimator=DT,X=X_train,y=y_train,cv=5,error_score='raise')
cvs

array([0.8809971 , 0.8776962 , 0.87923283, 0.87695635, 0.87979511])

In [37]:
from xgboost import XGBClassifier

In [38]:
XGB=XGBClassifier(use_label_encoder=False)
XGB.fit(X_train,y_train)

[14:08:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [39]:
pred_test=XGB.predict(X_test)
print(metrics.classification_report(y_test,pred_test))
metrics.confusion_matrix(y_test,pred_test)

              precision    recall  f1-score   support

           0       0.95      0.96      0.96      7830
           1       0.84      0.78      0.81      1932

    accuracy                           0.93      9762
   macro avg       0.90      0.87      0.88      9762
weighted avg       0.93      0.93      0.93      9762

array([[7550,  280],
       [ 418, 1514]], dtype=int64)

# ------------------------------------------------------------------------------------------

In [40]:
s_X=new_test.drop('ID',axis=1)

In [41]:
sub=new_test[['ID']].copy(deep=True)
sub['Employeeturnover']=XGB.predict(s_X)

In [42]:
sub.set_index('ID').to_csv('Submissionfile.csv')

In [43]:
sub['Employeeturnover'].value_counts()#XGB

0    34112
1     7724
Name: Employeeturnover, dtype: int64

In [44]:
sub['Employeeturnover'].value_counts()#DT

0    34112
1     7724
Name: Employeeturnover, dtype: int64

['Recently_upskilled', 'Region', 'RemoteWork','PercentSalaryIncrement', 'OfficeHours', 'StockOptionLevel',
       'College_Tier', 'YearsSinceLastPromotion', 'HighestEducation',
       'BusinessTravel', 'JobLevel', 'MaritalStatus','YearsWithCurrManager','NumCompaniesWorked', 'Gender',
       'TrainingTimesLastYear', 'Department','EnvironmentSatisfaction1',
       'EnvironmentSatisfaction2', 'JobSatisfaction1', 'JobSatisfaction2',
       'JobInvolvement1', 'JobInvolvement2', 'PerformanceRating1',
       'PerformanceRating2', 'Employeeturnover']]=train[['Recently_upskilled', 'Region', 'RemoteWork','PercentSalaryIncrement', 'OfficeHours', 'StockOptionLevel',
       'College_Tier', 'YearsSinceLastPromotion', 'HighestEducation',
       'BusinessTravel', 'JobLevel', 'MaritalStatus','YearsWithCurrManager','NumCompaniesWorked', 'Gender',
       'TrainingTimesLastYear', 'Department','EnvironmentSatisfaction1',
       'EnvironmentSatisfaction2', 'JobSatisfaction1', 'JobSatisfaction2',
       'JobInvolvement1', 'JobInvolvement2', 'PerformanceRating1',
       'PerformanceRating2', 'Employeeturnover']